
<main>

    <div class="container h-100vh d-flex align-items-center">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">

                    <div class="text-center mb-5">
                        <h6 class="h3">Create account</h6>
                        <p class="text-muted mb-0">It's free and easy</p>
                    </div>
                    <span class="clearfix"></span>

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>

                        <div class="form-group">
                            <label class="form-control-label">Email address</label>
                            <div class="input-group input-group-transparent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <%= f.email_field :email, class: "form-control form-control-label", autofocus: true, autocomplete: "email", placeholder: "example@gmail.com" %>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label class="form-control-label">Password</label>
                            <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %><br />
                            <div class="input-group input-group-transparent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <%= f.password_field :password, class: "form-control", id: "input-password", autocomplete: "new-password", placeholder: "********"  %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Confirm password</label>
                            <div class="input-group input-group-transparent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <%= f.password_field :password_confirmation, class: "form-control", id: "input-password-confirm", autocomplete: "new-password", placeholder: "********" %>
                            </div>
                        </div>

                        <div class="my-4">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                                <label class="custom-control-label" for="customCheckRegister">
                                    <span>I agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.</span>
                                </label>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-sm-7">
                                <div><%= f.submit "Create account", class: "btn btn-primary mb-3 mb-sm-0" %></div>
                            </div>
                            <div class="col-sm-5 text-sm-right">
                                <span class="small d-sm-block d-md-inline">Already registered?</span>
                                <%= render "devise/shared/links" %>
                            </div>

                        </div>
                      <% end %>
                      <br><br>
                      <%= link_to "<< Home page", root_path %>
                </div>
            </div>

        </div>
    </div>

</main>
