<main>


    <section class="pt-5 pt-lg-0 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5">

                    <div data-toggle="sticky" data-sticky-offset="100" data-negative-margin=".card-profile-cover">
                        <div class="card card-profile border-0 shadow  text-center">
                            <div class="card-profile-cover">
                                    <%= image_tag "cat_2.jpg", alt: "avatar w/ blur", class: "card-img-top", style: "filter: blur(0.6rem); height: 258px;" %>
                            </div>
                            <a href="#">
                                    <%= image_tag "cat_2.jpg", alt: "avatar", class: "card-profile-image avatar shadow"%>
                            </a>
                            <div class="card-body">
                                <div class="mb-3">
                                    <h5 class="mb-0"><%= current_user.email %></h5>
                                    <span class="text-muted">Membre depuis le <%= current_user.created_at.strftime("%d/%m/%Y") %></span>
                                </div>
                                <div class="pt-4 mt-4 delimiter-top">
                                    <div class="btn-group shadow rounded-circle">
                                        <button class="btn btn-sm btn-primary btn-circle btn-icon">
                                            <a id="button-link" href="<%= edit_user_registration_path %>">
                                                <span class="btn-inner--icon"><i class="fas fa-user"></i></span>
                                                <span class="btn-inner--text">Edit</span>
                                            </a>
                                        </button>
                                        <button class="btn btn-sm btn-dark btn-circle btn-icon">
                                            <a id="button-link" data-confirm="Are you sure?" data-method="delete" href="/users" rel="nofollow">
                                                <span class="btn-inner--text">Delete</span>
                                                <span class="btn-inner--icon"><i class="fas fa-cross"></i></span>
                                            </a>
                                        </button>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-8 mt-lg-5 mb-5">
                    <!-- Page title -->

                    <div class="page-header mb-4">

                        <div class="row align-items-center">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <a href="#" class="h6 mb-0"><i class="fas fa-angle-left mr-3"></i>Settings</a>
                            
                            </div>
                            <div class="col-md-6 text-md-right">

                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Timeline -->
                    <div class="card ">
                        <div class="card-header d-flex flex-end pt-4 pb-2 border-0 delimiter-bottom">
                            <div class="d-flex align-items-center" style="width: 800px; display: flex; justify-content: space-between;">
                                <div class="avatar-content">
                                    <h6 class="mb-0">Historique des achats</h6>
                                    <%if @last_order%>
                                        <small class="d-block text-muted"><i class="fas fa-clock mr-2"></i>Dernière commande le <%= @last_order.created_at.strftime("%d/%m/%Y") %> à <%= @last_order.created_at.strftime("%H:%M") %> (UTC) </small> 
                                    <%else%>
                                        <small class="d-block text-muted"><i class="fas fa-clock mr-2"></i>aucune commande (pour le moment! :) )</small> 
                                    <%end%>
                                </div>
                                <a class="media d-flex align-items-center mr-lg-5 mb-3 mb-lg-0" style=" float: right">
                                    <%= image_tag( "img/icons/dusk/svg/" + "in-progress.svg", :alt => "in progress icon", style: "width: 36px;") -%>
                                    <div class="media-body pl-2">
                                        <span class="h6"><%= @orders.count %> Commande(s) au total</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class=" mt-5">
                                <!-- Resume timeline -->
                                <h5><i class="fas fa-user mr-2 mb-4"></i>Timeline de vos commandes</h5>
                                <% if @orders.count >0%>

                                
                                <%@orders.each_with_index do |order,i|%>
                                    <p>Commande <strong>n°<%= order.id %></strong> de <strong><%= sprintf('%.2f', order.total_price.to_i) %> €</strong>, effectuée le <strong><%= order.created_at.strftime("%d/%m/%Y") %></strong> </p>
                                    <div class="timeline timeline-one-side" data-timeline-content="axis">
                                        <div class="timeline-block">
                                            <% order.items.each do |item| %>
                                            <div class="timeline-content">
                                                <h6><%=item.title%> (acheté en <%=item.order_lists.find_by(order: order, item: item).quantity%> exemplaire(s))</h6>
                                                <p class="text-sm lh-160"><%=item.description%>.</p>
                                            </div>
                                            <%end%>
                                        </div>
                                    </div>
                                    <%end%>
                                    <p>La prochaine à suivre :)</p>
                                <%else%>
                                    <p>Aucune commande</p>
                                <%end%>
                            </div>
                            <% if @orders.count >0%> 
                                <div class="pt-5 mt-5 delimiter-top">
                                    <!-- Endorsements -->
                                    <h6><i class="fas fa-user mr-2"></i>Les photos de votre dernière commande</h6>
                                    <div class="row">
                                        <% @last_order.items.each do |item| %>
                                        <div class="col-lg-4 mt-4">
                                            <div class="card bg-secondary shadow-sm border-0">
                                                <div class="media align-items-center p-3">
                                                    <a href="#" class="avatar rounded-circle mr-2">
                                                        <img alt="<%= item.title %>" style="width: 50px; height: 50px;" src="<%= item.image_url %>">
                                                    </a>
                                                    <div class="media-body" >
                                                        <h6 class="text-sm mb-0"><%= item.title %></h6>

                                                            <span class="static-rating static-rating-sm">
                                                                <i class="star fas fa-star voted"></i>
                                                                <i class="star fas fa-star voted"></i>
                                                                <i class="star fas fa-star voted"></i>
                                                                <% if rand(0..2) == 0 %>
                                                                <i class="star fas fa-star voted"></i>
                                                                <i class="star fas fa-star voted"></i>
                                                                <% elsif rand(0..1) == 0%>
                                                                <i class="star fas fa-star voted"></i>
                                                                <i class="star fas fa-star"></i>
                                                                <% else %>
                                                                <i class="star fas fa-star"></i>
                                                                <i class="star fas fa-star"></i>
                                                                <% end %>
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% end %>
                                    </div>
                                </div>
                            <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action -->

    <section class="slice slice-lg bg-primary">

        <span class="tongue tongue-top tongue-secondary"><i class="fas fa-angle-up"></i></span>

        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 text-center">
                    <h3 class="font-weight-400 text-white">Merci de nous faire confiance !</h3>
                    <div class="mt-5">
                        <a href="<%= root_path+'#sct-products' %>" class="btn btn-white btn-circle btn-translate--hover px-4">Tous nos chats</a>
                        <a href="<%= cart_show_path %>" class="btn btn-link text-white">Mon panier</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>