<h1 style="margin-top: 100px">Bienvenue sur la page d'édition des chats!</h1>


<div class="row">
  <div class="col-md-6 offset-3">
    <%= form_with model: @item do |form| %>

    <div class="field form-group">
      <h2>Title</h2>
      <p><%=@item.title%></p>
    </div>

    <div class="field form-group">
      <h2>Image</h2>
      <%= form.file_field :image, class:"form-control" %>
    </div>

    <div class="field form-group">
      <h2>Description</h2>
      <p><%=@item.description%></p>
    </div>

    <div class="field form-group">
      <h2>Price</h2>
      <p><%=@item.price%> €</p>
    </div>

    <div class="actions">
      <%= form.submit 'Miaou!', class:"btn btn-primary"%>
    </div>

    <% end %>
  </div>
</div>