<div id="nav">
  <ul>

    <% if user_signed_in? %>
    <li><%= link_to "Log out", destroy_user_session_path , method: :delete %></li>
    <% else %>
    <li><%= link_to "Sign in", new_user_registration_path %></li>
    <li><%= link_to "Log in", new_user_session_path %></li>
    <% end %>
  </ul>
</div>

  <h1>Items#index</h1>
  <%@items.each do |item|%>
    <hr>
    <h2><%=item.title%></h2>
    <p><%=item.description%></p>
    <img src="<%= item.image_url %>">
    <%= link_to "détails", item_path(item)%>
  <%end%>


