

<main>
    <section class="slice slice-lg bg-gradient-warning">
        <div class="position-absolute bottom-0 col-md-9 col-lg-9 col-xl-8 d-none d-md-block">
            <%= image_tag "catPNG.png", alt: "Image placeholder", class: "img-fluid" %>
        </div>
        <div class="container pt-lg">
            <div class="row justify-content-end">
                <div class="col-md-6 col-lg-5 text-center text-lg-left">
                    <div class="">
                        <h2 class="text-white my-4">
                    <span class="display-4 font-weight-light">Best images.</span>
                    <span class="d-block">Must have <strong class="font-weight-light">accessories.</strong></span>
                </h2>
                        <p class="lead text-white">Beautiful unique images stock photos. We have about (204,238 files) stock photos of CATS in HD high resolution jpg images format.</p>
                        <div class="mt-5">
                            <a href="#sct-products" class="btn btn-white btn-circle btn-translate--hover btn-icon d-none d-xl-inline-block scroll-me">
                                <span class="btn-inner--text">Go shopping</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-grid mt-lg d-none d-lg-flex">
                <div class="col-lg-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex align-items-start">
                                <div class="icon icon-shape icon-orange rounded-circle">
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                                <div class="icon-text px-4">
                                    <h5>Fast sending</h5>
                                    <p class="mb-0">All you have to do is to register for a customer account with your e-mail.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex align-items-start">
                                <div class="icon icon-shape icon-blue rounded-circle">
                                    <i class="fas fa-credit-card"></i>
                                </div>
                                <div class="icon-text px-4">
                                    <h5>Online payment</h5>
                                    <p class="mb-0">Thanks to our friends from Stripe you'll be able to pay online and secured.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex align-items-start">
                                <div class="icon icon-shape icon-pink rounded-circle">
                                    <i class="fas fa-hand-holding-usd"></i>
                                </div>
                                <div class="icon-text px-4">
                                    <h5>High Value</h5>
                                    <p class="mb-0">One day, if your collection doesn't fit your taste, just sell them.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-container" data-shape-style="wavify" data-shape-position="bottom">
            <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="shape-fill-white" data-toggle="wavify">
                <defs></defs>
                <path d="" class="shape-fill-white" />
            </svg>
        </div>
    </section>

    <section class="slice slice-lg delimiter-top" id="sct-products">
        <div class="container">
            <div class="mb-5 text-center">
                <h3 class="h6">Latest products</h3>
            </div>
            <div class="row">


                <%@items.each do |item|%>
                    <div class="col-lg-3 col-sm-6 col-sm-6 mb-5">
                        <div class="card card-product no-border shadow shadow--hover">
                            <div class="card-image">
                                <a href="<%= item_path(item.id) %>">
                                    <img src="<%= item.image_url %>" class="img-center" style="width: 210px; height: 145px; display: flex; justify-items: center">
                                </a>

                                <span class="ribbon ribbon-right ribbon-primary rounded-circle">New</span>

                            </div>
                            <div class="card-body pt-0 text-center">
                                <a href="shop-product.html" class="card-title"><%=item.title%></a>
                                <span class="card-price"><%=item.price.to_i%>,00€</span> 
                                <div class="product-colors mt-3">
                                    <a href="#" style="background-color: #59ad46;" data-toggle="tooltip" data-original-title="Green"></a>
                                    <a href="#" style="background-color: #04050a;" data-toggle="tooltip" data-original-title="Black"></a>
                                    <a href="#" style="background-color: #62aedd;" data-toggle="tooltip" data-original-title="Blueish"></a>
                                    <a href="#" style="background-color: #e84385;" data-toggle="tooltip" data-original-title="Pink"></a>
                                </div>
                                <%= link_to "détails", item_path(item)%><br>
<!-- NOUvEAU BOUTON "AJOUT AU PANIER" -->
                                <%if user_signed_in?%>
                                  <%= link_to "ajout panier", item_cart_path(current_user.cart, item)%>
                                <%end%>
<!-- (FIN) NOUvEAU BOUTON "AJOUT AU PANIER" -->
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="text-center">
            <a href="shop-products.html" class="btn btn-sm btn-dark btn-circle">See all products</a>
        </div>
    </section>

    <section class="slice slice-xl bg-cover bg-size--cover justify-content-end">
        <div class="shape-container" data-shape-style="wavify" data-shape-position="top" data-shape-orientation="inverse">
           
        </div>
        <div class="shape-container" data-shape-style="wavify" data-shape-position="bottom">
            <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="shape-fill-white" data-toggle="wavify">
                <defs></defs>
                <path d="" class="shape-fill-white" />
            </svg>
        </div>
    </section>

    <section class="slice slice-lg bg-gradient-warning">
        <div class="position-absolute bottom-0 col-lg-6 col-xl-5 d-none d-lg-block">
            <%= image_tag "catPNG.png", alt: "Image placeholder", class: "img-fluid" %>
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 col-xl-7 text-center text-lg-right">
                    <div class="mb-5">
                        <h1 class="text-white">Subscribe for weekly news</h1>
                        <p class="lead text-white mt-2">You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.</p>
                    </div>
                    <form>
                        <div class="input-group input-group-lg mb-3">
                            <input type="text" class="form-control" placeholder="Enter your email address" aria-label="Recipient's username">
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button">Subcribe now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


</main>


