<%= link_to "Sign in", new_user_registration_path %>
<%= link_to "Log in", new_user_session_path %>
<%= link_to "Log out", destroy_user_session_path , method: :delete %>
<%= link_to "Password oublié?", new_user_password_path %>

  <h1>Items#index</h1>
  <%@items.each do |item|%>
    <hr>
    <h2><%=item.title%></h2>
    <p><%=item.description%></p>
    <img src="<%= item.image_url %>">
    <%= link_to "détails", item_path(item)%>
  <%end%>


