<%= form_with model: @item do |form| %>

<br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_area :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  <% end %>
