<header class="header-transparent" id="header-main">
       
        <!-- Main navbar -->

        <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent sticky" id="navbar-main">
            <div class="container">
                <a class="navbar-brand mr-lg-5" href="../index.html">
                    <%= image_tag "cat-logo.png", alt: "Image placeholder", style: "height: 60px" %> Pussy Cat Shop
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    
                    <!-- ............................USER IN.......................... -->
                    <% if user_signed_in? %>

                        <div class="collapse navbar-collapse" id="navbar-main-collapse">

                            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
<!-- BOUTON PANIER EN HAUT A DROITE -->
                                <li class="nav-item mr-0 px-2">
                                  <a href="<%= cart_show_path %>" class="btn btn-sm btn-dark btn-circle">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="btn-inner--text">Panier</span>
                                  </a>
                                </li>
                                <li> </li>


                                <li class="nav-item mr-0"><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link d-lg-none" %>
                                     
                                        
                                    </a>
                                </li>


                                <li class="nav-item dropdown dropdown-animate " data-toggle="hover">
                                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle align-items-center"></i></a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-arrow">
                                        <div class="list-group">
                                            <a href="<%= destroy_user_session_path %>" class="list-group-item list-group-item-action" data-method="DELETE">
                                                <div class="media d-flex align-items-center">
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-1">Log out</h6>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="../pages/pages-secondary.html" class="list-group-item list-group-item-action">
                                                <div class="media d-flex align-items-center">
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-1">Profil</h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    <!-- ............................USER OUT.......................... -->

                    <% else %>

                        <div class="collapse navbar-collapse" id="navbar-main-collapse">
    

                            <ul class="navbar-nav align-items-lg-center ml-lg-auto">

                                <li class="nav-item"><%= link_to "Mot de passe oublié ?", new_user_password_path, class: "nav-link" %>
                                </li>

                                <li class="nav-item"><%= link_to "Log in", new_user_session_path, class: "nav-link" %>
                                </li>

                                <li class="nav-item mr-0"><%= link_to "Sign up", new_user_registration_path, class: "nav-link d-lg-none" %>
                                     <a href="<%= new_user_registration_path %>" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                                        <span class="btn-inner--text">Sign Up</span>
                                    </a>
                                </li>


                                <!-- <li class="nav-item mr-0">
                                    <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="nav-link d-lg-none">Purchase now</a>
                                    <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                                        <span class="btn-inner--text">Purchase now</span>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    <% end %>
                </div>
            </div>
        </nav>
    </header>